*.slxc
*.zip
*.rar
*.mp4
*.xml
*.pptx
MicroGridNote.md

docs/micro_grid_paper/
docs/LithiumBattery/DL_in_battery/
docs/YiDong_documents/
PV_wind_simple_module/
**/slprj/
*.autosave


# large-file
docs/books/开关电源控制环路设计(法)克里斯多夫 巴索.pdf
